body{background:#f3f1f4;}
#top{width:100%;background:#f3f1f4;padding:38px 0 38px;padding-left:120px;}
#top .msg{display:inline-block;color:white;background:#555555;width:140px;height:30px;border-radius:12px;line-height: 30px;text-align: center;font-size:14px;margin-left:100px;}
#top .msg a{color:#fffaa8;}

.error{color:#f00;margin-left: 120px;height:20px;line-height: 20px;}

#resignList{width:100%;height:620px;padding-left:120px;}
.resign{width:475px;min-height: 420px;background:#eeecef;border:1px solid #e1e0e2;}
.resign .log1{margin:27px 0 0 20px;width:435px;height:28px;border-bottom:1px solid #dddddd;}
.resign .log1 a{color:#d01320;font-size:18px;margin-right:15px;}
.resign .border-w{width:400px;border-bottom: 1px solid white;margin-left:20px;}
.resign .username,#password,#password2{margin-top:20px;width:250px;height:32px;border-radius:7px;margin-left:10px;border: 1px solid #e5e3e5;text-indent: 10px;}
.resign .username{}
.resign .label1{margin-left:70px;}
.resign .label2{margin-left:58px;}
.resign .label3{margin-left:70px;}
.resign .label4{margin-left:44px;}
.resign .msgRed1,.msgRed2{color:#d41f2b;display: none;margin-left: 120px;height:20px;line-height: 20px;}
.resign .log{margin:20px 0 0 102px;position:relative;}
.resign .log #btn{width:150px;height:40px;color:white;background:#ffab55;font-size:16px;border-radius:7px;border:none;}
.resign .log a{color:#d41f2b;}
.resign .border-g{width:435px;border-bottom: 1px solid #e1e0e2;margin:20px 0 0 20px;}
.resign .log-else{width:400px;border-top:1px solid white ;margin-left:20px;}
.resign .log-else p{margin-top:10px;}
.resign .log-else dl{width:96px;height:25px;margin-right:8px;margin-top:10px;padding-top:4px;float:left;border:1px solid #cfc8c8;line-height: 20px;text-align: center;}
.resign .log-else dl dt,.login .log-else dl dd{float:left;}
.resign .log-else dl dt{padding:0 4px;width:32px;background:#f7ebf1;}
.resign.log-else dl dd a{color:#000;display: inline-block;height:25px;width:48px;text-align: center;}
.resign .log-else dl dd a:hover{background:#f8870e;color:white;}
.resign,.logImg{float:left;}
.logImg{margin:50px 0 0 50px;}
.logImg img{width:320px;}
.kefu{position:absolute;top:250px;right:0;background:#fff;border:1px solid #f1b6c6;width:100px;height:200px;border-top:#e29257 2px solid;}
.kefu .kefu1{height:30px;border-bottom:solid 1px #f1b6c6;line-height:30px;}
.kefu .kefu1 img{margin:5px 10px 0 8px;}
.kefu .kefu1 a{color:#e29257;}
.kefu ul{padding:0 5px;}
.kefu ul li{padding:10px 0;border-bottom:1px dotted #f1b6c6;text-align: center;}
.kefu .QQ a{display: inline-block;width:80px;height:20px;border-radius: 7px;background:#e63643;color:#FFFFFF;}
.kefu .QQ a img{margin-top:2px;}
.kefu ul .noBottom{border-bottom: none;}
.kefu .kuaidi{background:#f3fff8;}
.kefu .kuaidi a{color:#ff923a;font-size: 15px;}
.kefu .noBottom .g1{color:#26890f;}
.kefu .noBottom .g2{color:#555555;font-size: 17px;}